### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [16]:
# Setup: Import resources and modules
import pandas as pd
import numpy as np 

school_data_to_load = "Resources/school_info.csv"
student_data_to_load = "Resources/student_info.csv"

# Read data 
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
merged_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
merged_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [106]:
# Count number of schools 
total_schools = len(merged_df["school_name"].unique())

# Collect numeric value summaries and pull data 
num_summary = merged_df.describe()

total_budget = num_summary.loc["count","budget"]
total_students = num_summary.loc["count","School ID"]
avg_math = num_summary.loc["mean", "math_score"]
avg_read = num_summary.loc["mean", "reading_score"]

# Calculate passing scores 
math_pass = merged_df.loc[merged_df["math_score"] >= 70]
per_math = len(math_pass) / total_students * 100

read_pass = merged_df.loc[merged_df["reading_score"] >= 70]
per_reading = len(read_pass) / total_students * 100

math_and_reading = merged_df.loc[[merged_df["math_score" >= 70]] and [merged_df["reading_score"] >= 70]]
pass_math_reading = len(math_and_reading) / total_students * 100

#Round values
avg_math = avg_math.round(2)
avg_read = avg_read.round(2)

# Create summary dataframe 
district_summary = {"Total Schools": total_schools, 
                    "Total Students": total_students,
                    "Total Budget": total_budget,  
                    "Average Math Score": avg_math, 
                    "Average Reading Score": avg_read,
                   "Percent Passing Math": per_math,
                   "Percent Passing Reading": per_reading,
                   "Percent Passing Math & Reading": pass_math_reading}
district_summary_df = pd.DataFrame([district_summary])

# Formatting
district_summary_df["Percent Passing Math"] = district_summary_df["Percent Passing Math"].map("{:.0f}%".format)
district_summary_df["Percent Passing Reading"] = district_summary_df["Percent Passing Reading"].map("{:.0f}%".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:.0f}".format)
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:.0f}".format)

district_summary_df

TypeError: '>=' not supported between instances of 'str' and 'int'

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type