### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Setup: Import resources and modules
import pandas as pd
import numpy as np 

school_data_to_load = "Resources/school_info.csv"
student_data_to_load = "Resources/student_info.csv"

# Read data 
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
merged_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [20]:
# Count number of schools 
total_schools = len(merged_df["school_name"].unique())

# Sum budget from school_data file 
total_budget = school_data["budget"].sum()

# Collect numeric value summaries and pull data 
num_summary = merged_df.describe()
total_students = num_summary.loc["count","School ID"]
avg_math = num_summary.loc["mean", "math_score"]
avg_read = num_summary.loc["mean", "reading_score"]

# Calculate passing scores 
math_pass = merged_df.loc[merged_df["math_score"] >= 70]
per_math = len(math_pass) / total_students * 100

read_pass = merged_df.loc[merged_df["reading_score"] >= 70]
per_reading = len(read_pass) / total_students * 100

math_reading = merged_df.loc[(merged_df["math_score"]>=70) & (merged_df["reading_score"]>=70)]
math_reading = len(math_reading) / total_students * 100

#Round values
avg_math = avg_math.round(1)
avg_read = avg_read.round(1)

# Create summary dataframe 
district_summary = {"Total Schools": total_schools, 
                    "Total Students": total_students,
                    "Total Budget": total_budget,  
                    "Average Math Score": avg_math, 
                    "Average Reading Score": avg_read,
                   "Percent Passing Math": per_math,
                   "Percent Passing Reading": per_reading,
                   "Percent Passing Math & Reading": math_reading}
district_summary_df = pd.DataFrame([district_summary])

# Formatting
district_summary_df["Percent Passing Math"] = district_summary_df["Percent Passing Math"].map("{:.1f}%".format)
district_summary_df["Percent Passing Reading"] = district_summary_df["Percent Passing Reading"].map("{:.1f}%".format)
district_summary_df["Percent Passing Math & Reading"] = district_summary_df["Percent Passing Math & Reading"].map("{:.1f}%".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.0f}".format)
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,.0f}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Math & Reading
0,15,"39,170","$24,649,428",79.0,81.9,75.0%,85.8%,65.2%

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [18]:
## Calculations 

# Re-index by school
schools_by_name = merged_df.set_index("school_name")
total_students = schools_by_name.groupby("school_name")["Student ID"].count()

# Select passing scores 
avg_math = schools_by_name.groupby('school_name')["math_score"].mean()
avg_reading = schools_by_name.groupby('school_name')["reading_score"].mean()

# Select all passing scores 
passing_math = schools_by_name.loc[schools_by_name["math_score"]>=70]
passing_reading = schools_by_name.loc[schools_by_name["reading_score"]>=70]

# Group scores by school and count number of passing grades
num_passing_math = passing_math.groupby('school_name')['math_score'].count()
num_passing_reading = passing_reading.groupby('school_name')['reading_score'].count()
percent_passing_math = num_passing_math / total_students * 100
percent_passing_reading = num_passing_reading / total_students * 100 
 
# Select scores that pass both math & reading
math_reading = schools_by_name.loc[(schools_by_name["math_score"]>=70) & (schools_by_name["reading_score"]>=70)]
#Count by school
num_overall = math_reading.groupby("school_name")["grade"].count()
overall = num_overall / total_students * 100

summary_df = {"Avg Math": avg_math,
              "Avg Reading": avg_reading,
            "Percent Passing Math": percent_passing_math, 
             "Percent Passing Reading": percent_passing_reading, 
             "Percent Passing Math & Reading": overall}
summary_df = pd.DataFrame(summary_df)

# Get existing info from school data file and merge with calculations 
columns = ["school_name", "type", "size", "budget"]
schools_df = school_data[columns]

# Add per student budget column 
budget = schools_df["budget"]
students = schools_df["size"]
per_student = budget / students 
schools_df["Per Student Budget"] = per_student

# Merge dataframes
schools_df = pd.merge(schools_df, summary_df, on="school_name")

# Formatting

schools_df = schools_df.rename(columns={"school_name": "School Name",
                                       "type": "Type",
                                       "size": "Total Students",
                                       "budget": "Budget"})
schools_df["Budget"] = schools_df["Budget"].map("${:.0f}".format)
schools_df["Per Student Budget"] = schools_df["Per Student Budget"].map("${:.0f}".format)
schools_df["Avg Math"] = schools_df["Avg Math"].map("{:.2f}".format)
schools_df["Avg Reading"] = schools_df["Avg Reading"].map("{:.2f}".format)
schools_df["Percent Passing Reading"] = schools_df["Percent Passing Reading"].map("{:.1f}%".format)
schools_df["Percent Passing Math"] = schools_df["Percent Passing Math"].map("{:.1f}%".format)
schools_df["Percent Passing Math & Reading"] = schools_df["Percent Passing Math & Reading"].map("{:.1f}%".format)




schools_df

,School Name,Type,Total Students,Budget,Per Student Budget,Avg Math,Avg Reading,Percent Passing Math,Percent Passing Reading,Percent Passing Math & Reading
0,Huang High School,District,2917,$1910635,$655,76.63,81.18,65.7%,81.3%,53.5%
1,Figueroa High School,District,2949,$1884411,$639,76.71,81.16,66.0%,80.7%,53.2%
2,Shelton High School,Charter,1761,$1056600,$600,83.36,83.73,93.9%,95.9%,89.9%
3,Hernandez High School,District,4635,$3022020,$652,77.29,80.93,66.8%,80.9%,53.5%
4,Griffin High School,Charter,1468,$917500,$625,83.35,83.82,93.4%,97.1%,90.6%
5,Wilson High School,Charter,2283,$1319574,$578,83.27,83.99,93.9%,96.5%,90.6%
6,Cabrera High School,Charter,1858,$1081356,$582,83.06,83.98,94.1%,97.0%,91.3%
7,Bailey High School,District,4976,$3124928,$628,77.05,81.03,66.7%,81.9%,54.6%
8,Holden High School,Charter,427,$248087,$581,83.80,83.81,92.5%,96.3%,89.2%
9,Pena High School,Charter,962,$585858,$609,83.84,84.04,94.6%,95.9%,90.5%
10,Wright High School,Charter,1800,$1049400,$583,83.68,83.95,93.3%,96.6%,90.3%
11,Rodriguez High School,District,3999,$2547363,$637,76.84,80.74,66.4%,80.2%,53.0%
12,Johnson High School,District,4761,$3094650,$650,77.07,80.97,66.1%,81.2%,53.5%
13,Ford High School,District,2739,$1763916,$644,77.10,80.75,68.3%,79.3%,54.3%
14,Thomas High School,Charter,1635,$1043130,$638,83.42,83.85,93.3%,97.3%,90.9%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type